html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

.container-header {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.nav-list {
  display: flex;
  gap: 20px;
}
ul {
  margin: 0;
  padding: 0 auto;
  list-style: none;
}
.nav-link,
.number {
  color: #000000;
}
.number {
  text-decoration: none;
}
