* {
  box-sizing: border-box;
}

h1 {
  font-family: Viaoda Libre;
  font-size: 48px;
  font-weight: 200;
  padding-top: 60px;
  padding-left: 210px;
}

.article {
  min-width: 440px;
}
.text-first {
  font-family: Vollkorn SC;
  font-size: 24px;
  padding-left: 209px;
  padding-right: 187px;
  margin: 0 auto;
  margin-bottom: 30px;
  min-width: 1200px;
}

.image {
  padding-left: 209px;
  margin-bottom: 30px;
  min-width: "1076.75";
  min-height: "651.67";
}
.title-medium {
  margin: 0 auto;
  font-family: Viaoda Libre;
  font-size: 36px;
  font-weight: 200;
  padding-left: 210px;
}

.List {
  font-family: Vollkorn SC;
  font-size: 24px;
  padding-left: 230px;
  margin: 0 auto;
  padding-top: 30px;
  min-width: 1200px;
}

.video {
  padding-left: 209px;
  padding-top: 30px;
  min-width: "1095";
  min-height: "533";
}
