* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  padding: 10px;
  min-height: 250px;
}
.form-title {
  font-weight: bold;
  font-size: 24px;
}

.form-group {
  border: 0px;
}
.label {
  display: inline-block;
  font-size: 17px;
  margin-bottom: 5px;
}
.input,
.textarea {
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
  min-height: 25px;
  margin-bottom: 10px;
}
.textarea {
  resize: vertical;
}
.button {
  cursor: pointer;
  min-height: 30px;
  min-width: 30px;
  background-color: #3e80e4;
  border: none;
  border-radius: 100px;
  color: white;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  background-color: #3161aa;
}

.input:focus-visible,
.textarea:focus-visible,
.button:focus-visible,
.checkbox:focus-visible::after {
  outline: 2px solid #3e80e4;
  outline-offset: 1px;
}

.checkbox {
  appearance: none;
  outline: none;
}
.checkbox::after {
  margin-left: -16px;
  margin-top: -14px;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.checkbox:checked::after {
  background:
    url(../images/check-icon.svg) no-repeat center,
    #3e80e4;
}

.checkbox-label {
  padding-left: 16px;
}
