/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #646161;
}

.phone {
  text-align: right;
}

.phone__link {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.phone__text {
  padding-bottom: 8px;
}

.phone__link:hover {
  color: #3596ed;
}
